{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="bouton" class="btn btn-success">
        <i clsss="fa fa-fw fa-arrow-left"></i>{{ button_label|default('Enregistrer') }}
    </button>
{{ form_end(form) }}
