{% extends 'base.html.twig' %}

{% block title %}Proposer{% endblock %}

{% block body %}
    <h1>Proposer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proposer.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('proposer_index') }}">back to list</a>

    <a href="{{ path('proposer_edit', {'id': proposer.id}) }}">edit</a>

    {{ include('proposer/_delete_form.html.twig') }}
{% endblock %}
